﻿@{ Layout = null; }
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>*@
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link href="~/Content/Login.css" rel="stylesheet" />
    <script>
        function onSuccess(res) {
            alert(1);

        }
        function onFailed() {
            alert("Failed ajax call");
        }
    </script>

</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>

                </div>
                <div class="card-body">
                    @using (Ajax.BeginForm("Index", "Login", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure="onFailed" }))
                            {
                        
                        <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username" id="Email" name="Email" value="martandmadhwani@gmail.com">
                        <span id="msgusername"></span>
                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="password" id="txtpassword" name="Passwd" value="password@123">
                                        <span id="msgpassword"></span>
                                    </div> @*<div class="row align-items-center remember">
                                            <input type="checkbox">Remember Me
                                        </div>*@
                                                    <div class="form-group">
                                                        <input type="submit" value="Login" class="btn float-right login_btn" id="btnLogin">
                                                    </div>}



                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="#">Sign Up</a>
                    </div>
                    @*<div class="d-flex justify-content-center">
                            <a href="#">Forgot Password?</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>